* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: rgb(0, 174, 255);
    font-family: 'Dancing Script', cursive;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

header ul {
    display: flex;
    list-style: none;
}

header ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 15px;
}

header img {
    border-radius: 30%;
    max-height: 75px;
    max-width: 75px;
    border: 2px solid black;
}

body {
    background-color: orange;
}

.container {
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 2%;
    background-color: bisque;
    border-radius: 4%;
    border: 2px solid black;
}

.container img {
    max-height: 100%;
    max-width: 100%;
}

.container:hover {
    background-color: orangered;
    cursor: pointer;
}

.contact {
    height: 80vh;
    background-size: cover;
    background-blend-mode: darken;
    font-family: 'Oswald', sans-serif;
}

.contact h1 {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    color: wheat;
}

.form {
    max-width: 40%;
    margin: 1% auto;
}

.form-input {
    margin: 7px 0px;
    width: 100%;
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 7px;
    padding: 1%;
}

.but {
    height: 10%;
    width: 100px;
    padding: 2%;
    font-size: 70%;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: wheat;
    font-size: 30px;
    text-align: center;
    display: flex;
}

.footer p {
    font-family: 'Dancing Script', cursive;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.footer img {
    border-radius: 30%;
    max-height: 75px;
    max-width: 75px;
    border: 2px solid black;
}

.last {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header ul {
        margin-top: 10px;
        justify-content: center;
    }

    header ul a {
        margin: 0 10px;
    }

    .container {
        width: 90%;
    }

    .form {
        max-width: 60%;
    }
}
